/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){

}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {

}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) {

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

#mode2{
  width: 50%;
  visibility: hidden;
  margin-top: -2%;
}


#ques-text{
margin-left: 3%;
font-size: 50px;
margin-top: -2%;
}

#ques-Modal{
width: 25%;
margin-left: 38%;
margin-top: 18%;
position: fixed;
}

#bg-modal{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: none;
  overflow: auto;
}

#result-modal{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: none;
  overflow: auto;
}

#result-body{
  height: 60vh;
  overflow: auto;
}

#ques-hd,#result-hd{
background-color: #40bcff;
color: white;
}
#ques-value{
font-family: 'Montserrat', sans-serif;
}

li{
  list-style-type:none;
  cursor:pointer;
  width: 10%;
}

#load-ques{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: none;
  margin-top: 15%;
  margin-left: -5%;
}

#ques-spinner{
  margin-left: 45vw;
  margin-top: 12%;
  display: none;
}

#bt1{
  width: 10%;
}


#bt2,#bt3,#bt4{
  margin-left: 2.5%;
  width: 10%;
}

#radio{
  margin-top: 0.5%;
  visibility: hidden;
  width: 100%;
  margin-left: 25%;
  position: absolute;
  bottom: 0;
}

#response{
  width: 30%;
  height:70%;
}

#ques-head{
  width: 20%;
  height: 10%;
  background-color: DarkBlue;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  visibility: hidden;
}


 #topic{
  width: 20%;
  height: 10%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  color: white;
}

#Qno{
  width: 10%;
  height: 10%;
  margin-left: -1%;
  color: white;
  font-size: 30px;
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color:DarkBlue;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid black;
	border-bottom: 25px solid transparent;
  margin-top: 15%;
  margin-right:  -17%;
  cursor: pointer;
  visibility: hidden;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid black;
	border-bottom: 25px solid transparent;
  margin-top: 15%;
  margin-left:  -17%;
  cursor: pointer;
  visibility: hidden;
}


.triangle-left:hover{
  opacity: 0.5;
  filter: alpha(opacity=50)
}

.triangle-right:hover{
  opacity: 0.5;
  filter: alpha(opacity=50)
}

#done{
position:absolute;
bottom: 0;
margin-left: 86vw;
font-family: 'Montserrat', sans-serif;
cursor: pointer;
color:DarkBlue;
font-size: 25px;;
visibility: hidden;
}

#done:hover{
  color: gray;
}


#exit{
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  color:DarkBlue;
  font-size: 25px;;
}

#exit:hover{
  color: gray;
}

#v-answer{
  width:250px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  position: absolute;
  bottom: 0;
}


}

/*static styling*/
#quest-cont{
  height: 100vh;
  margin-top: 2%;
}

#roller{
  margin-top: 1vh;
}
