/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){

}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {

}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) {

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

#mode2{

  width: 65%;
  visibility: hidden;
  margin-top: -2%;
}


#ques-text{
margin-left: 3%;
font-size: 50px;
margin-top: -2%;
}

#load-ques{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: none;
  margin-top: 15%;
  margin-left: -5%;
}

#ques-spinner{
  margin-left: 45vw;
  margin-top: 12%;
  display: none;
}

#bt1{
  width: 18%;
}


#bt2,#bt3,#bt4{
  margin-left: 2.5%;
  width: 18%;
}

#radio{
  margin-top: 0.5%;
  visibility: hidden;
  width: 100%;
  margin-left: 8%;
}

#head{
  background-color:DarkBlue;
  color: white;
}

#response{
  width: 30%;
  height:70%;
  margin-top: 12%;
}


#head,#topic{
  width: 20%;
  height: 10%;
  font-size: 30px;
  visibility: hidden;
}

#Qno{
  width: 10%;
  height: 10%;
  margin-left: -1%;
  color: white;
  font-size: 30px;
  visibility: hidden;
  background-color:DarkBlue;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid black;
	border-bottom: 25px solid transparent;
  margin-top: 15%;
  margin-right:  -17%;
  cursor: pointer;
  visibility: hidden;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid black;
	border-bottom: 25px solid transparent;
  margin-top: 15%;
  margin-left:  -17%;
  cursor: pointer;
  visibility: hidden;
}


.triangle-left:hover{
  opacity: 0.5;
  filter: alpha(opacity=50)
}

.triangle-right:hover{
  opacity: 0.5;
  filter: alpha(opacity=50)
}

#dummy{
  visibility: hidden;
}

#v-answer{
  width:250px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
}
#ques-Modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.ques-modal-content {
  background-color: #ffffff;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
  height: 20%;
}

.ques-modal-body {padding: 2px 16px;}

.ques-modal-header {
  padding: 2px 16px;
  background-color: CornflowerBlue;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  margin-top: -27%;
  margin-left: -8.3%;
  width: 301px;
}



}

/*static styling*/
#quest-cont{
  height: 100vh;
  margin-top: 2%;
}

#roller{
  margin-top: 1vh;
}
