/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){

}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {

}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) {

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

#mode2{
  height: 70%;
  width: 50%;
  visibility: hidden;
  margin-top: -2%;
}


#ques-text{
margin-left: 3%;
font-size: 50px;
margin-top: -2%;
}

#bt1{
  width: 10%;
}

#bt2,#bt3,#bt4{
  margin-left: 7%;
  width: 10%;
}

#radio{
  margin-top: 4%;
  visibility: hidden;
}


}

/*static styling*/
#quest-cont{
  height: 100vh;
}

#roller{
  margin-top: 1vh;
}
