
/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px) {
	#info2{

		width: 100%;
		height: auto;
		background-color: LightSteelBlue ;
	}

	#legal-list{
		white-space:nowrap;
	}

	#heading1,#heading2,#heading3{
		color: white;
		margin-top: 5%;
	}

	#priv{
		margin-top: -50%;
	}

	#heading6{
		margin-top: -17%;
		margin-left: -15%;
		white-space: nowrap;
	}

	#legal-list{
	  margin-left: -10%;
		margin-top: 5%;
	}

}


/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {

	#info2{

		width: 100%;
		height: auto;
		background-color: LightSteelBlue ;
	}

	#legal-list{
		white-space:nowrap;
	}

	#heading1,#heading2,#heading3{
		color: white;
		margin-top: 5%;
	}

	#priv{
		margin-top: -50%;
	}

	#heading6{
		margin-top: -5vh;
		margin-left: -5vw;
		white-space: nowrap;
	}

	#legal-list{
	  margin-left: -8vw;
		margin-top: 3vh;
	}

}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

	#info2{

		width: 100%;
		height: auto;
		background-color: LightSteelBlue ;
	}

	#legal-list{
		white-space:nowrap;
	}

	#heading1,#heading2,#heading3{
		color: white;
		margin-top: 5%;
	}

	#priv{ margin-top: -50%;}

	#heading6{
		margin-top: -1vh;
		margin-left: -1vw;
		white-space: nowrap;
	}

	#legal-list{
	  margin-left: -4vw;
		margin-top: 8vh;
	}

}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) {

	 #info2{

 		width: 100%;
 		height: auto;
 		background-color: LightSteelBlue ;
 	}

 	#legal-list{
 		white-space:nowrap;
 	}

 	#heading1,#heading2,#heading3{
 		color: white;
 		margin-top: 5%;
 	}

 	#priv{ margin-top: -50%;}

 	#heading6{
 		margin-top: -2vh;
 		white-space: nowrap;
 	}

 	#legal-list{
 	  margin-left: -2vw;
 		margin-top: 10vh;
 	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {


	#info2{

		width: 100%;
		height: auto;
		background-color: LightSteelBlue ;
	}

	#legal-list{
		white-space:nowrap;
	}

	#heading1,#heading2,#heading3{
		color: white;
		margin-top: 2vh;
	}

	.pi2,.pi3{
		margin-left: 5%;
	}

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

#info2{

	width: 100%;
	height: auto;
	background-color: LightSteelBlue ;
}

#legal-list{
	white-space:nowrap;
}

#heading1,#heading2,#heading3{
	color: white;
}

.pi2,.pi3{
	margin-left: 5%;
}

}
