

/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){


#matlog{

width: 15%;
height: 15%;
}

#app{

	font-family: 'Open Sans', sans-serif;
    color: #40bcff;
    width: 100%;
    margin-left: 20%;

}


#si{

	color: #40bcff;
	width: 20%;
	font-size: 9px;
	margin-left: -10%;
	margin-right: 3%;
}

#link5{

	display: none;
}

#link2,#link3,#link4{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	margin-left: -6%;
}

.mdown{

	width: 20%;
	height: 20%;
}



}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {  



}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) { 


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {




}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	#matlog{

	width: 10%;
	height: 10%;
}

#lgn-cont{
	margin-top: 2%;
}

#si{

	color: #40bcff;
}


.mdown{
	width: 150px;
	margin-left: -1%;
}

#ls{

	color: #40bcff; 
	font-family: 'Open Sans', sans-serif;
}

#link1{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	background-color: Navy;
}

#link2,#link3,#link4,#link5{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
}

#app{
	font-family: 'Open Sans', sans-serif;
	color: #40bcff;
	font-size: 25px;
}

#mat-bar{
	width: 100%;
	margin-left: -2%;


}

}