/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){



#matlog{

width: 15%;
height:15%;

}

#app{

	font-family: 'Open Sans', sans-serif;
    color: #40bcff;
    margin-top: -15%;
    margin-left: 10%;
}

#app-text{

width: 300%;
height: 100%;
margin-left: 25%;
}

.mdownb{

width: 50px;
height: 40px;
padding-bottom: 10px;

}


#link5{

	display: none;

}



#si{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	font-size: 5px;
	width: 17%;
	margin-left: 2%;
	margin-right: 1%;

}


#link2,#link3,#link4{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	font-size: 5px;
	margin-left: -6%;
}


}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {

#matlog{

width: 15%;
height: 15%;

}

#app{

	font-family: 'Open Sans', sans-serif;
    color: #40bcff;
    width: 100%;
    height: 100%;
    margin-top: -15%;
    margin-left: 10%;
}

#app-text{

	margin-left: 20%;
}


.mdownb{

width: 50px;
height: 40px;
padding-bottom: 10px;

}


#link5{

	display: none;
}


#stf{
	width: 100%;
	height: 100%;
	margin-left: -3%;
}


#si{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	font-size: 5px;
	width: 17%;
	margin-left: 2%;
	margin-right: 1%;

}


#link2,#link3,#link4{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	font-size: 5px;
	margin-left: -6%;
}
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

#matlog{

width: 15%;
height: 15%;

}

#app{

	font-family: 'Open Sans', sans-serif;
    color: #40bcff;
    width: 100%;
    height: 100%;
    margin-top: -15%;
    margin-left: 11%;
}


.mdownb{

width: 50px;
height: 40px;
margin-left: 40px;
padding-bottom: 5px;

}


#app-text{

	margin-left: 35%;
}


#link5{

	display: none;
}


#stf{
	width: 100%;
	height: 100%;
	margin-left: -5%;
}


#si{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	width: 15%;
	margin-left: -15%;
}

#link2,#link3,#link4{

	color: #40bcff;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	margin-left: -20%;
}

}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 767px) and (max-width: 991.98px) {



}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {


 }

 /*Extra large devices (large desktops, 1200px and up)*/
 @media (min-width: 1200px) {

 	#logo{
 		width: 60px;
 	}

	#d-menu{
		margin-top: -1%;
	}

#mat-logo{
	width: 8%;
	height: 8%;
	margin-top: -1%;
}

#andlogo{
	width: 50%;
	height: 30%;
	margin-left: 25%;
}

#exampleModalLabel{
	color: #40bcff;
}

#mat-brand{
font-family: 'Montserrat', sans-serif;
color: #40bcff;
font-size: 30px;
font-style:bold;
margin-top: -6%;
margin-left: 8%;
}

#mat-cont{
	float: left;
}

#bt-li,#bt-li2,#bt-li3{
	color: #40bcff;
  font-size: 20px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	margin-top: 6%;
	margin-left: 25%;
	white-space: nowrap;
}

#mat-hd{
	height: 75px;
	background-color: white;
	width: 100vw;
	margin-left: -2%
}

#download-modal{
	height: 100vh;
	width: 100vw;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	display: none;
	overflow: auto;
}
#signin-cont{
margin-top: 0.4%;
}
#download-hd{
	background-color: #40bcff;
	color: white;
}

#andlogo{
	width:40%;
	margin-left:28%;
}


}
/*static styling*/

#signInAlert{
 display: none;
}
