
.jumbotron{
	background-color: white;
	height: auto;
	width: 100%;
}


#about{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 20px;
	text-decoration: underline;
}

.lead{
	text-decoration: none;
}
