/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){

}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {

}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) {

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

#sl{
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  color: #40bcff;
  font-weight: bold;
}


#heading1,#heading2,#heading3{
margin-top: 2%;
}

#card2{
  margin-left: 2%;
}

#mode2{
  height: 60%;
  width: 50%;
}

#mode2-cont{
height: 100vh;
width: 100%;
background-color: white;
}

#s-mode{
width: 100%;
font-family: 'Montserrat', sans-serif;
font-size: 50px;
}

#math-cards-1,#math-cards-2,#math-cards-3{
  width: 100%;
  margin-top: 5%;
}

.btn-lg{
  width: 40%;
}


}

/*static styling*/
#mode-main{
  height: 100vh;
  margin-top: 1%;
}

#Qno{
font-family: 'Montserrat', sans-serif;
margin-left: 45vw;
}
