/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){
  #sl{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
  }


  #card1-hd,#card1-title,#card1-text,#card1-btn,
  #card2-hd,#card2-title,#card2-text{
  font-size: 3vw;
  }

  #card2-btn{
    margin-top: -10vw;
    font-size: 3vw;
  }

  #card1{
    width: 80vw;
    height: 72vw;
  }

  #card2{
    width: 80vw;
    height: 72vw;
    margin-left: 3vw;
  }

  #mode-main{
    width: 100vw;
    height: 100vh;
  }


  #s-mode{
    font-size: 7vw;
    margin-top: 4vh;
  }

  #math-cards-1,#math-cards-2,#math-cards-3{
    height: 12vw;
    width: 100%;
    margin-top: 8vw;
  }

  #alg,#geo,#stat,#mens,#int,#s&l{

  }

  #mode2-cont{
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {
  #sl{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
  }

  #card1-hd,#card1-title,#card1-text,#card1-btn,
  #card2-hd,#card2-title,#card2-text{
  font-size: 3vw;
  }

  #card2-btn{
    margin-top: -1vw;
    font-size: 3vw;
  }

  #card1{
    width: 80vw;
    height: 72vw;
  }

  #card2{
    width: 80vw;
    height: 72vw;
    margin-left: 3vw;
  }

  #mode-main{
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) {

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

#sl{
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
}

#neg{
margin-top: 10%;
}

#close-btn{
width: 25%;
font-family: 'Montserrat', sans-serif;
}

#heading1,#heading2,#heading3{
margin-top: 2%;
}

#card2{
  margin-left: 2%;
}

#mode2{
  height: 60%;
  width: 50%;
}

#mode2-cont{
height: 100vh;
width: 100%;
background-color: white;
}

#card-exam{
  margin-top: 10%;
  height: 300px;
}

#s-mode{
width: 100%;
font-family: 'Montserrat', sans-serif;
font-size: 50px;
}

#math-cards-1,#math-cards-2,#math-cards-3{
  width: 100%;
  margin-top: 5%;
}

.btn-lg{
  width: 40%;
}

#bg{
  margin-top: 10%;
}

#signin-text{
  font-family: 'Montserrat', sans-serif;
  margin-left: 45%;
}


#modal-hd{
  background-color: #40bcff;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
}

/*static styling*/
#mode-main{
  height: 100vh;
  margin-top: 1%;
}
