#app1{
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	color: black;
	font-size: 20px;
	height: 100vh;
}

.mlogo{

	height: 15%;
	width: 8%;
}

#mat{
	margin-top: 2%;
}


#android{
	width: 20%;
	margin-bottom: 10%;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
	text-decoration: none;
}
