/* specially small devices (portrait phones, less than 576px)*/
@media (max-width: 359px){
  #mat-title{
  	font-family: 'Open Sans', sans-serif;
  	color: white;
  	background-color: #40bcff;
  	margin-top: 0.04%;
  	font-size:10vw;
  	height: 100vh
  }
  #naij{
  	margin-left: 2px;
  	margin-top: -2px;
    width: 6vw;
  }
  #pt{
  color: black;
  margin-top: 5%;
  font-size: 5vw;
  margin-left: 3%;
  font-family: 'Montserrat', sans-serif;
  }

  #load{
  	color: #40bcff
  }

  #next_home{
    margin-top: 2vw;
  }


  #prev_home{
     margin-top: 2vw;
  }


  .progress-bar{
  	width: 100%;
  }


  #q1,#test{
  	color: #40bcff;

  }

  #q2{
  	color: #40bcff;

  }

  #exampleModalLongTitle{

  	color: #40bcff;
  }

  #A1{
  margin-top: 2%;
  }

  #by{
    margin-top: -90vh;
    font-size: 7vw;
  	color: white;
    font-family: 'Montserrat', sans-serif;
  }

  #start{
  	margin-top: 10%;
  }

  #lgn{
  	color: #40bcff;
  	font-size: 10vw;
  	font-family: 'Open Sans', sans-serif;
  	margin-top: 2%;
  	margin-left: 4%;
  }

  #Qimg1,#Qimg2{

  	width: 60%;
  }

  #start_button{
  	width:55%;
    font-size: 4vw;
  	color: Navy;
  	margin-top: 10%;
  }

  #mat-foot{
  	margin-top: 7%;
  }

  #spin{
  	width: 15vw;
  	height: 15vh;
  	margin-top: 20%;
  }

  #ltext{
  		font-family: 'Open Sans', sans-serif;
  		font-size: 10vw;
  		margin-left: -15vw;
  }

  #blink{
  	height: 10vh;
  	width: 10vw;
  }
  #orig-but{
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    font-size: 5vw;
    margin-top: 4vh;
  }
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 360px) and  (max-width: 575.98px) {
  #mat-title{
  	font-family: 'Open Sans', sans-serif;
  	color: white;
  	background-color: #40bcff;
  	margin-top: 0.04%;
  	font-size:10vw;
  	height: 100vh
  }
  #naij{
  	margin-left: 2px;
  	margin-top: -2px;
    width: 6vw;
  }
  #pt{
  color: black;
  margin-top: 5%;
  font-size: 5vw;
  margin-left: 3%;
  font-family: 'Montserrat', sans-serif;
  }

  #load{
  	color: #40bcff
  }

  #next_home{
    margin-top: 2vw;
  }


  #prev_home{
     margin-top: 2vw;
  }


  .progress-bar{
  	width: 100%;
  }


  #q1,#test{
  	color: #40bcff;

  }

  #q2{
  	color: #40bcff;

  }

  #exampleModalLongTitle{

  	color: #40bcff;
  }

  #A1{
  margin-top: 2%;
  }

  #by{
    margin-top: -90vh;
    font-size: 7vw;
  	color: white;
    font-family: 'Montserrat', sans-serif;
  }

  #start{
  	margin-top: 10%;
  }

  #lgn{
  	color: #40bcff;
  	font-size: 10vw;
  	font-family: 'Open Sans', sans-serif;
  	margin-top: 2%;
  	margin-left: 4%;
  }

  #Qimg1,#Qimg2{

  	width: 60%;
  }

  #start_button{
  	width:55%;
    font-size: 4vw;
  	color: Navy;
  	margin-top: 10%;
  }

  #mat-foot{
  	margin-top: 7%;
  }

  #spin{
  	width: 15vw;
  	height: 15vh;
  	margin-top: 20%;
  }

  #ltext{
  		font-family: 'Open Sans', sans-serif;
  		font-size: 10vw;
  		margin-left: -15vw;
  }

  #blink{
  	height: 10vh;
  	width: 10vw;
  }
  #orig-but{
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    font-size: 5vw;
    margin-top: 4vh;
  }
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  #mat-title{
  	font-family: 'Open Sans', sans-serif;
  	color: white;
  	background-color: #40bcff;
  	margin-top: 0.04%;
  	font-size:10vw;
  	height: 100vh
  }
  #naij{
  	margin-left: 2px;
  	margin-top: -2px;
    width: 6vw;
  }
  #pt{
  color: black;
  margin-top: 5%;
  font-size: 5vw;
  margin-left: 3%;
  font-family: 'Montserrat', sans-serif;
  }

  #load{
  	color: #40bcff
  }

  #next_home{
    margin-top: 2vw;
  }


  #prev_home{
     margin-top: 2vw;
  }


  .progress-bar{
  	width: 100%;
  }


  #q1,#test{
  	color: #40bcff;

  }

  #q2{
  	color: #40bcff;

  }

  #exampleModalLongTitle{

  	color: #40bcff;
  }

  #A1{
  margin-top: 2%;
  }

  #by{
    margin-top: -80vh;
    font-size: 7vw;
  	color: white;
    font-family: 'Montserrat', sans-serif;
  }

  #start{
  	margin-top: 10%;
  }

  #lgn{
  	color: #40bcff;
  	font-size: 10vw;
  	font-family: 'Open Sans', sans-serif;
  	margin-top: 2%;
  	margin-left: 4%;
  }

  #Qimg1,#Qimg2{

  	width: 60%;
  }

  #start_button{
  	width:55%;
    font-size: 4vw;
  	color: Navy;
  	margin-top: 10%;
  }

  #mat-foot{
  	margin-top: 7%;
  }

  #spin{
  	width: 15vw;
  	height: 15vh;
  	margin-top: 20%;
  }

  #ltext{
  		font-family: 'Open Sans', sans-serif;
  		font-size: 10vw;
  		margin-left: -15vw;
  }

  #blink{
  	height: 10vh;
  	width: 10vw;
  }
  #orig-but{
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    font-size: 5vw;
    margin-top: 4vh;
  }

}


/* Medium devices (tablets, 768px and up)*/
 @media (min-width: 767px) and (max-width: 991.98px) {
   #mat-title{
   	font-family: 'Open Sans', sans-serif;
   	color: white;
   	background-color: #40bcff;
   	margin-top: 0.04%;
   	font-size:10vw;
   	height: 100vh
   }
   #naij{
   	margin-left: 2px;
   	margin-top: -2px;
     width: 6vw;
   }
   #pt{
   color: black;
   margin-top: 5%;
   font-size: 5vw;
   margin-left: 3%;
   font-family: 'Montserrat', sans-serif;
   }

   #load{
   	color: #40bcff
   }

   #next_home{
     margin-top: 1vw;
   }


   #prev_home{
      margin-top: 1vw;
   }


   .progress-bar{
   	width: 100%;
   }


   #q1,#test{
   	color: #40bcff;

   }

   #q2{
   	color: #40bcff;

   }

   #exampleModalLongTitle{

   	color: #40bcff;
   }

   #A1{
   margin-top: 2%;
   }

   #by{
     margin-top: -85vh;
     font-size: 7vw;
   	color: white;
     font-family: 'Montserrat', sans-serif;
   }

   #start{
   	margin-top: 10%;
   }

   #lgn{
   	color: #40bcff;
   	font-size: 10vw;
   	font-family: 'Open Sans', sans-serif;
   	margin-top: 2%;
   	margin-left: 4%;
   }

   #Qimg1,#Qimg2{

   	width: 60%;
   }

   #start_button{
   	width:55%;
     font-size: 4vw;
   	color: Navy;
   	margin-top: 10%;
   }

   #mat-foot{
   	margin-top: 7%;
   }

   #spin{
   	width: 15vw;
   	height: 15vh;
   	margin-top: 20%;
   }

   #ltext{
   		font-family: 'Open Sans', sans-serif;
   		font-size: 10vw;
   		margin-left: -15vw;
   }

   #blink{
   	height: 10vh;
   	width: 10vw;
   }
   #orig-but{
     font-family: 'Montserrat', sans-serif;
     width: 80vw;
     font-size: 5vw;
     margin-top: 4vh;
   }
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #mat-title{
   font-family: 'Open Sans', sans-serif;
   color: white;
   background-color: #40bcff;
   margin-top: 0.04%;
   font-size:10vw;
   height: 100vh
  }
  #naij{
   margin-left: 2px;
   margin-top: -2px;
    width: 4vw;
  }
  #pt{
  color: black;
  margin-top: 5%;
  font-size: 5vw;
  margin-left: 3%;
  font-family: 'Montserrat', sans-serif;
  }

  #load{
   color: #40bcff
  }

  #next_home{
    margin-top: 1vw;
  }


  #prev_home{
     margin-top: 1vw;
  }


  .progress-bar{
   width: 100%;
  }


  #q1,#test{
   color: #40bcff;
   font-size: 5vw;
  }

  #q2{
   color: #40bcff;
   font-size: 5vw;
  }

  #exampleModalLongTitle{

   color: #40bcff;
  }

  #A1{
  margin-top: 2%;
  }

  #by{
    margin-top: -85vh;
    font-size: 7vw;
   color: white;
    font-family: 'Montserrat', sans-serif;
  }

  #start{
   margin-top: 10%;
  }

  #lgn{
   color: #40bcff;
   font-size: 10vw;
   font-family: 'Open Sans', sans-serif;
   margin-top: 2%;
   margin-left: 4%;
  }

  #Qimg1,#Qimg2{

   width: 60%;
  }

  #start_button{
   width:55%;
    font-size: 4vw;
   color: Navy;
   margin-top: 10%;
  }

  #mat-foot{
   margin-top: 7%;
  }
  #spin{
  	width: 15vw;
  	height: 15vh;
  	margin-top: 20%;
  }

  #ltext{
  		font-family: 'Open Sans', sans-serif;
  		font-size: 10vw;
  		margin-left: -15vw;
  }

  #blink{
  	height: 10vh;
  	width: 10vw;
  }
  #orig-but{
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    font-size: 5vw;
    margin-top: 4vh;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) /*and (max-width: 1900px)*/ {
#mat-title{
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #40bcff;
	margin-top: 0.04%;
	font-size:85px;
	height: 100vh
}
#naij{
	margin-left: 2px;
	margin-top: -2px;
}
#pt{
color: black;
margin-top: 5%;
font-size: 18px;
margin-left: 3%;
font-family: 'Montserrat', sans-serif;
}

#load{
	color: #40bcff
}

#next_home{

margin-top: 0.5vw;


}

#prev_home{

margin-top: 0.5vw;

}


.progress-bar{
	width: 100%;
}


#q1,#test{
	color: #40bcff;
  font-size: 2vw;
}

#q2{
	color: #40bcff;
  font-size: 2vw;
}

#exampleModalLongTitle{

	color: #40bcff;
}

#A1{

	margin-top: 2%;
}

#by{
  margin-top: -78vh;
  font-size: 20px;
	color: white;
  font-family: 'Montserrat', sans-serif;
}

#start{
	margin-top: 10%;
}

#lgn{
	color: #40bcff;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2%;
	margin-left: 4%;
}

#Qimg1,#Qimg2{

	width: 60%;
}

#start_button{

	width:55%;
	color: Navy;
	margin-top: 10%;
}

#mat-foot{
	margin-top: 7%;
}

#spin{
	width: 100px;
	height: 100px;
	margin-top: 20%;
}

#ltext{
		font-family: 'Open Sans', sans-serif;
		font-size: 50px;
		margin-left: -75px;
}

#blink{
	height: 60px;
	width: 60px;
}
#orig-but{
  font-family: 'Montserrat', sans-serif;
}
}
/*static styling*/
#main{
	height: 100vh;
	background-color: #40bcff;
}
